
/* standard pastel colors */

:root {
    --col_bg: #232f3b;
    --col_input_valid: #7ebaff;

    --col_subHeader: #7a756f;
  }

h1 {
    color: #8a8a8a;
    font-size: 3em;

    /*no spacing below the word*/
    margin-bottom: 0px;
}

h2 {
    color: var(--col_subHeader);
    font-size: 2em;
}

body {
    color:aqua;
    background-color: var(--col_bg);
}

a {
    color: #FFCC99;
}


#wordOfDay_jpn_input {
    color: #ffffff;
    font-size: 8em;
    /*no spacing below the word*/
    background-color: var(--col_bg);
    margin-bottom: 0px;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

#wordOfDay_jpn_kanji_input {
    color: var(--col_input_valid);
    font-size: 24pt;
    background-color: var(--col_bg);
    /*no spacing below the word*/
    margin-bottom: 0px;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

/* make text bigger */
#wordOfDay_eng_input {
    color: var(--col_input_valid);
    background-color: var(--col_bg);
    font-size: 3em;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}


#currentUser {
    color: rgb(136, 136, 136);
}

#selectedDate {
    color: var(--col_subHeader);
    font-size: 2em;
}